<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="main">
        <div id="popup">
            <div id="popupcard">
                <h3>Change name</h3>
                <hr>
                <form action="" method="post">
                    <input name="filename" id="inp" type="text">
                    <input id="submit" type="submit" value="Change karo">
                </form>
            </div>
        </div>
        <div class="left">
            <div class="filedet">
                <h4>foldername</h4>
             <div class="part2">
                <i id="a" class="ri-add-line"></i>
                <i id="b" class="ri-folder-line"></i>
                <i class="ri-refresh-line"></i>
             </div>
            </div>
       <div class="files">
        <form id="c" action="/createfile">
            <input type="text" name="filename" placeholder="filename">
        </form>
        <form id="d" action="/createfolder">
            <input type="text" name="foldername" placeholder="foldername">
        </form>
        <% file.forEach(function(fi){ %>
<div class="elem">
       <div class="elleft">
        <% if(fi.isDirectory()){ %>
            <i class="ri-folder-fill"></i>
        <%= fi.name %>
        <% } else{ %>
            <a href="/file/<%= fi.name %>">
            <i class="ri-file-line"></i>
    <%= fi.name %></a>
     <% } %>
       </div>
       <div class="elright">
        <i id="edit" class="ri-pencil-line"></i>
        <% if (fi.isDirectory()){ %>
            <a href="/delete-folder/<%= fi.name %>"><i class="ri-delete-bin-line"></i></a>
       <% }else{ %>
        <a href="/delete-file/<%= fi.name %>"><i class="ri-delete-bin-line"></i></a>
     <% } %>
           </div>
        </div>
      <% }) %>
       </div>
        </div>
    <div class="right">
       
        </div>
    </div>
    </div>
    <script src="../javascripts/js.js"></script>
</body>
</html>